<!DOCTYPE html>
<html lang="en">
<style>
    .text-warning{
        color: yellow;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset Password</title>
</head>
<body style="margin: auto; width: 700px;">
    <div style=" background: black; color: white; padding: 1rem;">
        <h1 style="color: yellow; text-align: center;">Reset Password</h1>
    </div>
    <div style="margin: 2rem; ">
        <p style="color: black;">Hello, {{ name }}</p>
        <p style="color: black;">We have send this email in response to your request to reset your password on Starwars Blog</p>
        <p style="color: black;">Your new password is:</p>
        <h2 style="margin: 1rem; background-color: black; color: yellow; width: 150px; text-align: center; padding: 1rem;">{{ new_password }}</h2>
        <p ><i>Do not give this password to anyone</i></p>
        <p style="color: black;">Click here to go LogIn page: <a  href="https://curly-space-halibut-7v7j4wvgx7jc64v-3000.app.github.dev/login"><b>Login</b></a></p>
        
    </div>

</body>
<footer style="margin: auto; width: 700px; background: black;">
    <div style="padding: 1rem;">

        <h3 style="color: yellow;">Contact:</h3>
        <p style="color: white;">Email: dev.solutions.team23@gmail.com</p>
        <p style="color: white;">Phone: (+506) 8888-88888</p>
    </div>
    </div>
</footer>
</html>