.card-people{
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 1px #000000;
}
.img-card-people{
    border-radius: 1rem;
    height: 22rem;
}
.p-description{
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px 1px #000000;
    padding: 2rem;
    color: white;
    text-align: justify;
}